<!DOCTYPE html>
<html>
<head>
    <title>IBM Bank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1>Welcome to IBM Bank {{ username }}</h1>
    <h2>Balance: Much dollars</h2>
    <br>
    <form action="" method="POST">
        <input class="btn btn-default" type="submit" name="logout" value="Logout">
    </form>
</div>
</body>
</html>