<html>
  <head>
    <title>IBM Bank Collected data:</title>
   </head>
  <body>
    <h1>Collected data: </h1>
    <ul>{% for user in users %}
    <li>Username: {{ user.username }},<br>Login Attempts: {{ user.number_of_attempts }}</li>
    {% endfor %}</ul>
  </body>
</html>